<div class="deal" data-rating="<%= deal.rating %>" onclick="window.open('<%= "#{deal.url}#{@gclid}" %>', '_blank');" data-expiry="<%= deal.expiry_date %>">
  <div class="deal__image">
    <div class="image-container">
      <img class="lazy image-fill image-fill--natural" src="" data-src="<%= deal.image_url %>" alt="" title="">
    </div>
  </div>
  <div class="deal__text-container">
    <h2 class="deal__title">
      <%= deal.title %>
    </h2>
    <div class="deal__topratedlisting <% if deal.rating == "true" %>deal__topratedlisting--visible<% end %>">
      top rated listing
    </div>
    <div class="deal__price">
      <%= deal.price %>
    </div>
  </div>
</div>
