<div class="result" data-deal-id="<%= deal.id %>">
  <div class="result__primary">
    <div class="image-container">
      <img class="lazy image-fill" src="" data-src="<%= deal.image_url %>" alt="" title="">
    </div>
  </div>
  <div class="result__secondary">
    <div class="result__title">
      <%= deal.title %>
    </div>
    <div class="result__description">
      <%= deal.highlights %>
    </div>
  </div>
  <div class="result__tertiary">
    <div class="result__price">
      <%= deal.price %>
    </div>
    <div class="result__topratedlisting <% if deal.rating == "true" %>result__topratedlisting--visible<% end %>">
      top rated listing
    </div>
    <%= link_to '> Go To Deal', "#{deal.url}#{@affiliate_id}#{@gclid}", class: 'result__link', target: '_blank' %>
  </div>
</div>
