<%= render 'components/logo_bar' %>
<%= render 'components/hero/no_heading' %>
<div class="container">
  <section class="results__breadcrumbs">
    <% @current_filters.each do |filter| %>
      <% if filter[:present] %>
        <span class="results__breadcrumb">
          <%= render 'components/breadcrumb', breadcrumb: filter %>
        </span>
      <% end %>
    <% end %>
  </section>
</div>
<section class="results__main-content">
  <div class="container">
    <div class="row">
      <div class="results__primary">
        <div class="results__position">
          <%= render 'components/position' %>
          <div class="results__sort-and-filter">
            <%= render 'components/sort' %>
            <button id="js-filter" class="results__filter results-tool">
              <span>Filter</span>
              <svg class="drop-down-arrow" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 320 512"><path fill="currentColor" d="M31.3 192h257.3c17.8 0 26.7 21.5 14.1 34.1L174.1 354.8c-7.8 7.8-20.5 7.8-28.3 0L17.2 226.1C4.6 213.5 13.5 192 31.3 192z"/></svg>
            </button>
          </div>
        </div>
        <div class="results__results">
          <div id="js-categories" class="results__categories">
            <%= render 'components/category_list/category_list_filter', classes: 'category-list__category--3-col' %>
          </div>
          <% unless @results.empty? %>
            <% @results.each do |deal| %>
              <div class="results__result">
                <%= render 'components/result', deal: deal %>
              </div>
            <% end %>
          <% else %>
            <h2>No Results.</h2>
            <p>Perhaps you should try one of these searches:</p>
            <%= render 'components/related' %>
          <% end %>
          <div class="results__pagination">
            <%= will_paginate @results %>
          </div>
        </div>
      </div>
      <div class="results__secondary">
        <h2 class="results__search-form-label">Search Local Retailers</h2>
        <div class="results__search-form-small">
          <%= render 'components/search_form_small' %>
        </div>
        <h2 class="results__recommended-label">
          Recommended For You
        </h2>
        <div class="results__recommended-container">
          <% @recommended_deals.each do |deal| %>
            <div class="results__recommended">
              <%= render 'components/recommended', deal: deal %>
            </div>
          <% end %>
        </div>
        <h2 class="results__related-label">
          Related Searches
        </h2>
        <div class="results__related-container">
          <%= render 'components/related' %>
        </div>
      </div>
    </div>
  </div>
</section>
<hr class="gradient">
<%= render 'components/footer' %>
