<div class="index__logo-bar">
  <%= render 'components/logo_bar' %>
</div>
<%= render 'components/hero' %>
<div class="container">
  <%= render 'components/categories' %>
</div>
<hr>
<section class="index__deals">
  <div class="container">
    <div class="row">
      <div class="index__deal">
        <%= render 'components/deal' %>
      </div>
    </div>
  </div>
</section>
<hr class="gradient">
<%= render 'components/footer' %>
