<!DOCTYPE html>
<html>
  <head>
    <title><%= @title %></title>
    <%= favicon_pack_tag 'favicon.png' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_pack_tag "#{action_name}/above_fold" %>
    <%= stylesheet_pack_tag "#{action_name}/below_fold" %>
    <%= stylesheet_pack_tag "below_fold" %>
    
  </head>
  <body>

    <%= yield %>

    <%= javascript_pack_tag 'application' %>
    <%#= render 'shared/google_tag_manager' %>
    <%#= render 'shared/google_analytics' %>
    <!--
    <script data-ad-client="ca-pub-9099077473256435" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    -->
  </body>
</html>
