<!DOCTYPE html>
<html>
  <head>
    <title>Hotdealsfinda</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag "#{action_name}/above_fold" %>
  </head>
  <body>
    <%= yield %>
    <%= render 'shared/google_tag_manager' %>
    <%= render 'shared/google_analytics' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <%= javascript_include_tag 'application' %>
    <script data-ad-client="ca-pub-9099077473256435" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <%= stylesheet_link_tag "#{action_name}/below_fold" %>
    <%= stylesheet_link_tag 'below_fold' %>
  </body>
</html>
