<!DOCTYPE html>
<html>
  <head>
    <title>Hotdealsfinda</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style type="text/css">
      <%= Rails.application.assets['index/above_fold'].to_s.html_safe %>
    </style>
    <%= javascript_include_tag 'application' %>
    <style>

  </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
