<!DOCTYPE html>
<html>
  <head>
    <title><%= @title %></title>
    <%= favicon_link_tag image_path('favicon.png') %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style type="text/css">
      <%= Rails.application.assets_manifest.find_sources("#{action_name}/above_fold.css").first.to_s.html_safe %>
    </style>
  </head>
  <body>
    <%= yield %>
    <%= stylesheet_link_tag "#{action_name}/below_fold" %>
    <%= stylesheet_link_tag 'below_fold' %>
    <%= javascript_include_tag 'application' %>
    <%= render 'shared/google_tag_manager' %>
    <%= render 'shared/google_analytics' %>
    <script data-ad-client="ca-pub-9099077473256435" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  </body>
</html>
