<!DOCTYPE html>
<html>
  <head>
    <title>Hotdealsfinda</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_pack_tag "info" %>

  </head>

  <body>
    <%= yield %>
    <%= render 'shared/google_analytics' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
